.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buttonBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 357px;
  height: 54px;
  border: none;
  border-radius: 27px;
  cursor: pointer;

  background-color: #fee500;
}
.buttonTextBox {
  font-size: 14px;
  font-weight: 500;
}
